STRIPE_API_KEY=sk_test_sua_chave_aqui
STRIPE_WEBHOOK_SECRET=whsec_sua_chave_aqui
STRIPE_STARTER_PRICE_ID=price_seu_id_aqui
STRIPE_SQUAD_PRICE_ID=price_seu_id_aqui
STRIPE_WARROOM_PRICE_ID=price_seu_id_aqui
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_51Tc6RIE7CwDepeQskHXw8HEgu4D8LhonGpj5HiLcFL39LibBFyZctUfkbXhi2dgQgXHlVytxioXcXJD34rl6p9Qh00NI03Gswy
STRIPE_WEBHOOK_SECRET=whsec_ucTOBE0l6o3dctwTEa3fM1K0S7PX7PdW
