fastapi
uvicorn
supabase
python-dotenv
httpx
stripe
pydantic
pydantic-settings
traceback-with-variables
mangum
fpdf2
spacy
nltk
scikit-learn
pandas
numpy
emoji
mutagen
pyjwt
pyotp
firebase-admin
tenacity
rich
wordcloud
matplotlib
seaborn
playwright
openpyxl
python-dateutil
pyasn1
pyasn1-modules
cryptography
certifi
charset-normalizer
idna
urllib3
requests
yarl
multidict
async-timeout
aiosignal
frozenlist
attrs
psycopg2-binary
sqlalchemy
greenlet
cloudpathlib
defusedxml
confection
catalogue
srsly
wasabi
weasel
blis
cymem
murmurhash
preshed
thinc
networkx
joblib
threadpoolctl
kiwisolver
fonttools
cycler
contourpy
msgpack
mmh3
markdown-it-py
mdurl
pyee
websockets
zstandard
annotated-doc
annotated-types
anyio
h11
h2
hpack
httpcore
hyperframe
MarkupSafe
Jinja2
itsdangerous
Click
colorama
typing-extensions
typing-inspection
packaging
propcache
proto-plus
protobuf
google-api-core
google-auth
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
pytz
tzdata
cachetools
CacheControl
deprecation
et-xmlfile
fsspec
pyiceberg
pyroaring
postgrest
realtime
storage3
StrEnum
stubs
tenacity
tqdm
typer
wrapt
openai>=1.0.0
datasette
stanza
dspy

